In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import math

import sklearn
from sklearn.preprocessing import OneHotEncoder

In [2]:
sklearn.__version__

'0.21.2'

## LendingClub Data Acquisition

In [3]:
# raw_q12019 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2019Q1.csv',header=1)
# raw_q42018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q4.csv',header=1)
# raw_q32018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q3.csv',header=1)
# raw_q22018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q2.csv',header=1)
# raw_q12018 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2018Q1.csv',header=1)
raw_q42017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q4.csv',header=1)
raw_q32017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q3.csv',header=1)
raw_q22017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q2.csv',header=1)
raw_q12017 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2017Q1.csv',header=1)
raw_q42016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q4.csv',header=1)
raw_q32016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q3.csv',header=1)
raw_q22016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q2.csv',header=1)
raw_q12016 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2016Q1.csv',header=1)
raw_2015 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2015.csv',header=1)
raw_2014 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2014.csv',header=1)
raw_2012to2013 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2012to2013.csv',header=1)
raw_2007to2011 = pd.read_csv('~/peervest/lc_data/LoanStats_securev1_2007to2011.csv',header=1)

/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,118) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,19,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,49,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.5/dist-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# print(raw_q12019.shape)
# print(raw_q42018.shape)
# print(raw_q32018.shape)
# print(raw_q22018.shape)
# print(raw_q12018.shape)
print(raw_q42017.shape)
print(raw_q32017.shape)
print(raw_q22017.shape)
print(raw_q12017.shape)
print(raw_q42016.shape)
print(raw_q32016.shape)
print(raw_q22016.shape)
print(raw_q12016.shape)
print(raw_2015.shape)
print(raw_2014.shape)
print(raw_2012to2013.shape)
print(raw_2007to2011.shape)
#raw_q12019,raw_q42018,raw_q32018,raw_q22018,raw_q12018,
dfs = [raw_q42017,raw_q32017,raw_q22017,raw_q12017,
       raw_q42016,raw_q32016,raw_q22016,raw_q12016,raw_2015,
       raw_2014,raw_2012to2013, raw_2007to2011]

(118650, 150)
(122703, 150)
(105453, 150)
(96781, 150)
(103548, 150)
(99122, 150)
(97856, 150)
(133889, 150)
(421097, 150)
(235631, 150)
(188183, 150)
(42538, 150)

In [5]:
raw_lc_df = pd.concat(dfs, ignore_index=True)

In [6]:
raw_lc_df['loan_status'].value_counts()

Fully Paid                                             1076208
Current                                                 399465
Charged Off                                             268335
Late (31-120 days)                                       12138
In Grace Period                                           3934
Late (16-30 days)                                         2586
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     11
Name: loan_status, dtype: int64

In [7]:
raw_lc_df.shape

(1765451, 150)

## Data Cleaning

In [8]:
#FILTER OUT WHOSE STATUS IS NOT YET FINALIZED
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Current']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Late (31-120 days)']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Late (16-30 days)']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'In Grace Period']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Does not meet the credit policy. Status:Fully Paid']
raw_lc_df = raw_lc_df[raw_lc_df['loan_status'] != 'Does not meet the credit policy. Status:Charged Off']

#BINARIZE CLASSES
raw_lc_df['loan_status'] = raw_lc_df['loan_status'].map({'Charged Off': 0, 'Default': 0, 'Fully Paid': 1})

In [9]:
raw_lc_df['earliest_cr_line'] = pd.to_timedelta(pd.to_datetime(raw_lc_df['earliest_cr_line'])).dt.days

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing datetime64-dtype data to TimedeltaIndex is deprecated, will raise a TypeError in a future version
  """Entry point for launching an IPython kernel.

In [10]:
# Parse percentage features.
def parse_percentage(percentage):
    if str(percentage) == 'nan': return math.nan
    new = percentage.replace('%', '')
    return float(new) / 100.0

raw_lc_df['revol_util'] = raw_lc_df['revol_util'].apply(parse_percentage)
raw_lc_df['int_rate'] = raw_lc_df['int_rate'].apply(parse_percentage)

In [11]:
#FILTER OUT COLUMNS THAT ARE REDUNDANT OR UNHELPFUL
lc_df = raw_lc_df[['loan_amnt', 'funded_amnt',
                'term', 'int_rate', 'installment',
                'emp_length', 'home_ownership', 'annual_inc',
                'verification_status', 'loan_status',
                'purpose', 'zip_code', 'addr_state', 'dti',
                'delinq_2yrs', 'earliest_cr_line', 'fico_range_low',
                'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq',
                'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
                'revol_util', 'total_acc', 'out_prncp',
                'out_prncp_inv', 'last_fico_range_high', 'last_fico_range_low',
                'collections_12_mths_ex_med', 'mths_since_last_major_derog',
                'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
                'acc_now_delinq', 'tot_coll_amt',
                'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m',
                'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util',
                'open_rv_12m', 'open_rv_24m', 'all_util',
                'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
                'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
                'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
                'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
                'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq',
                'mths_since_recent_inq', 'mths_since_recent_revol_delinq',
                'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
                'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
                'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats',
                'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m',
                'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75',
                'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim',
                'total_bal_ex_mort', 'total_bc_limit',
                'total_il_high_credit_limit','grade', 'collection_recovery_fee', 
                'total_rec_prncp', 'title', 'total_rec_int', 'total_rec_late_fee', 
                'sub_grade', 'debt_settlement_flag', 'emp_title','issue_d','last_pymnt_d']]

In [12]:
lc_df.shape

(1344579, 101)

In [13]:
lc_df = lc_df.dropna(axis=0, subset=['loan_amnt','inq_last_6mths']).reset_index(drop=True)

In [14]:
#CAST DATATYPES
dtype = {
      'loan_amnt': 'int64',
      'term': 'object',
      'int_rate': 'float64',
      'emp_length': 'object',
      'home_ownership': 'object',
      'annual_inc': 'float64',
      'verification_status': 'object',
      'loan_status': 'object',
      'purpose': 'object',
      'zip_code': 'object',
      'addr_state': 'object',
      'dti': 'float64',
      'delinq_2yrs': 'int64',
      'fico_range_low': 'int64',
      'fico_range_high': 'int64',
      'inq_last_6mths': 'int64',
      'open_acc': 'int64',
      'pub_rec': 'int64',
      'revol_bal': 'int64',
      'total_acc': 'int64',
      'application_type': 'object'
    }
lc_df = lc_df.astype(dtype=dtype)

In [15]:
lc_df.head().T

,0,1,2,3,4
loan_amnt,30000,13000,15000,15750,19800
funded_amnt,30000,13000,15000,15750,19800
term,60 months,60 months,36 months,36 months,60 months
int_rate,0.3079,0.1505,0.1042,0.0735,0.1505
installment,985.21,309.62,486.98,488.84,471.57
emp_length,10+ years,10+ years,3 years,10+ years,3 years
home_ownership,RENT,RENT,RENT,RENT,RENT
annual_inc,40000,72000,55000,96500,108600
verification_status,Source Verified,Source Verified,Source Verified,Source Verified,Not Verified
loan_status,0,1,1,1,1
purpose,other,debt_consolidation,debt_consolidation,debt_consolidation,credit_card
zip_code,103xx,333xx,981xx,968xx,021xx
addr_state,NY,FL,WA,HI,MA
dti,30.86,11.17,17.48,12.22,18.19
delinq_2yrs,1,0,0,1,0
earliest_cr_line,12996,12965,14092,12173,14579
fico_range_low,700,705,670,705,725
fico_range_high,704,709,674,709,729
inq_last_6mths,0,0,0,0,1
mths_since_last_delinq,4,NaN,NaN,10,NaN
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,11,4,28,6,10
pub_rec,0,0,0,0,0
revol_bal,19754,12389,12673,1868,1458
revol_util,0.303,0.774,0.737,0.107,0.037
total_acc,23,13,44,17,14
out_prncp,0,0,0,0,0
out_prncp_inv,0,0,0,0,0
last_fico_range_high,579,764,649,714,714
last_fico_range_low,575,760,645,710,710
...,...,...,...,...,...
num_bc_sats,7,2,2,5,6
num_bc_tl,12,5,2,8,7
num_il_tl,4,5,40,6,7
num_op_rev_tl,10,3,4,5,6
num_rev_accts,19,8,4,11,7
num_rev_tl_bal_gt_0,7,2,3,4,3
num_sats,11,4,28,6,10
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,1,0
num_tl_op_past_12m,0,0,0,3,1
pct_tl_nvr_dlq,95.7,100,100,88.2,100
percent_bc_gt_75,0,50,50,0,0
pub_rec_bankruptcies,0,0,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,97743,34782,69346,145171,143296
total_bal_ex_mort,46719,23941,66150,128341,90931
total_bc_limit,44800,15000,12200,17500,39500
total_il_high_credit_limit,32543,18782,52146,127671,103796
grade,G,C,B,A,C
collection_recovery_fee,0,0,0,0,0
total_rec_prncp,2196.71,13000,15000,15750,19800
title,Other,Debt consolidation,Debt consolidation,Debt consolidation,Credit card refinancing
total_rec_int,9463.05,598.13,1065.25,641.95,2471.93
total_rec_late_fee,98.52,0,0,0,0
sub_grade,G1,C4,B3,A4,C4
debt_settlement_flag,N,N,N,N,N
emp_title,Supervsir,Sales manager,Finance,Service Coordinator,engineer
issue_d,Dec-2017,Dec-2017,Dec-2017,Dec-2017,Dec-2017
last_pymnt_d,Feb-2019,Apr-2018,Sep-2018,Sep-2018,Nov-2018

In [16]:
#     '''
#     Split dataset into 'train' and 'test'.
#     '''
#     import numpy as np
#     train, test = np.split(df.sample(frac=1), [int(.7*len(df))])

#     '''
#     Split train/test into features/label numpy arrays.
#     '''
#     LABEL_COL = 'loan_status'
#     train_x = train.loc[:, train.columns != LABEL_COL].values
#     train_y = train.loc[:, train.columns == LABEL_COL].values.squeeze()
#     test_x = test.loc[:, test.columns != LABEL_COL].values
#     test_y = test.loc[:, test.columns == LABEL_COL].values.squeeze()

#     # Standardize data
#     from sklearn.preprocessing import StandardScaler
#     scaler = StandardScaler()
#     scaler.fit(train_x)
#     train_x = scaler.transform(train_x)
#     test_x = scaler.transform(test_x)
#     np.savez_compressed('dataset.npz', train_x, train_y, test_x, test_y)
#     return (train_x, train_y, test_x, test_y)

In [17]:
lc_df.columns[lc_df.isna().all()].tolist()

[]

In [18]:
lc_df.shape

(1344553, 101)

In [19]:
lc_df[['addr_state','annual_inc','collection_recovery_fee','emp_title',
           'fico_range_high','fico_range_low','funded_amnt','grade','home_ownership',
           'int_rate','loan_amnt','loan_status','purpose','sub_grade','title','total_rec_int',
           'total_rec_late_fee','total_rec_prncp','zip_code','debt_settlement_flag','out_prncp',
           'collection_recovery_fee']].head(20)

,addr_state,annual_inc,collection_recovery_fee,emp_title,fico_range_high,fico_range_low,funded_amnt,grade,home_ownership,int_rate,...,purpose,sub_grade,title,total_rec_int,total_rec_late_fee,total_rec_prncp,zip_code,debt_settlement_flag,out_prncp,collection_recovery_fee
0,NY,40000.0,0.0000,Supervsir,704,700,30000.0,G,RENT,0.3079,...,other,G1,Other,9463.05,98.52,2196.71,103xx,N,0.0,0.0000
1,FL,72000.0,0.0000,Sales manager,709,705,13000.0,C,RENT,0.1505,...,debt_consolidation,C4,Debt consolidation,598.13,0.00,13000.00,333xx,N,0.0,0.0000
2,WA,55000.0,0.0000,Finance,674,670,15000.0,B,RENT,0.1042,...,debt_consolidation,B3,Debt consolidation,1065.25,0.00,15000.00,981xx,N,0.0,0.0000
3,HI,96500.0,0.0000,Service Coordinator,709,705,15750.0,A,RENT,0.0735,...,debt_consolidation,A4,Debt consolidation,641.95,0.00,15750.00,968xx,N,0.0,0.0000
4,MA,108600.0,0.0000,engineer,729,725,19800.0,C,RENT,0.1505,...,credit_card,C4,Credit card refinancing,2471.93,0.00,19800.00,021xx,N,0.0,0.0000
5,NJ,100000.0,0.0000,Paralegal,779,775,10000.0,A,MORTGAGE,0.0532,...,debt_consolidation,A1,Debt consolidation,78.81,0.00,10000.00,087xx,N,0.0,0.0000
6,CA,55000.0,0.0000,Admissions Advisor,664,660,32600.0,B,RENT,0.1199,...,house,B5,Home buying,4036.10,0.00,32600.00,958xx,N,0.0,0.0000
7,NJ,54000.0,0.0000,Electro Mechanical Technician,669,665,10000.0,B,RENT,0.0944,...,debt_consolidation,B1,Debt consolidation,696.77,0.00,10000.00,070xx,N,0.0,0.0000
8,IN,85000.0,0.0000,Special Education Teacher,664,660,13000.0,B,MORTGAGE,0.0993,...,debt_consolidation,B2,Debt consolidation,569.54,0.00,13000.00,462xx,N,0.0,0.0000
9,FL,70000.0,200.5740,RN,694,690,10000.0,A,MORTGAGE,0.0672,...,other,A3,Other,371.08,46.14,1788.05,327xx,N,0.0,200.5740
10,FL,110000.0,465.9174,N FL HCP Associate Vice President,694,690,20000.0,D,MORTGAGE,0.1806,...,debt_consolidation,D2,Debt consolidation,2267.69,0.00,1750.38,320xx,N,0.0,465.9174
11,CA,70000.0,0.0000,Lvn,669,665,20000.0,F,RENT,0.2872,...,major_purchase,F1,Major purchase,2521.16,0.00,20000.00,925xx,N,0.0,0.0000
12,CA,55000.0,0.0000,Boss and only employee,714,710,16000.0,C,MORTGAGE,0.1262,...,debt_consolidation,C1,Debt consolidation,1919.21,0.00,16000.00,925xx,N,0.0,0.0000
13,IN,354000.0,0.0000,chief operating officer,684,680,25000.0,F,MORTGAGE,0.3017,...,debt_consolidation,F3,Debt consolidation,544.58,0.00,25000.00,460xx,N,0.0,0.0000
14,NJ,110000.0,0.0000,Submissions,739,735,11000.0,B,MORTGAGE,0.0993,...,credit_card,B2,Credit card refinancing,1079.47,0.00,11000.00,070xx,N,0.0,0.0000
15,VA,60000.0,484.0614,Owner,719,715,20000.0,C,MORTGAGE,0.1408,...,home_improvement,C3,Home improvement,195.56,0.00,231.53,221xx,N,0.0,484.0614
16,MO,22000.0,0.0000,NaN,729,725,10000.0,D,MORTGAGE,0.2000,...,debt_consolidation,D4,Debt consolidation,1561.81,0.00,1059.81,630xx,N,0.0,0.0000
17,NY,84498.0,0.0000,Administrative Coordinator,724,720,8000.0,B,RENT,0.0944,...,major_purchase,B1,Major purchase,756.27,0.00,8000.00,104xx,N,0.0,0.0000
18,CA,55000.0,0.0000,Room att,744,740,35000.0,B,RENT,0.1042,...,other,B3,Other,2921.93,0.00,35000.00,900xx,N,0.0,0.0000
19,IL,24000.0,0.0000,Technician,729,725,1200.0,A,RENT,0.0735,...,debt_consolidation,A4,Debt consolidation,89.97,0.00,1200.00,606xx,N,0.0,0.0000

### Feature Preprocessing

#### Mean, Max, Zero Impute for Missing Values

In [20]:
#replace NaNs with column max, column means, or zeros where it makes sense to
nan_max_cols = [
    'mths_since_last_delinq',
    'mths_since_last_record',
    'mths_since_last_major_derog',
    'mths_since_rcnt_il',
    'mths_since_recent_bc',
    'mths_since_recent_bc_dlq',
    'mths_since_recent_inq',
    'mths_since_recent_revol_delinq',
    'mo_sin_old_il_acct',
    'mo_sin_old_rev_tl_op',
    'mo_sin_rcnt_rev_tl_op',
    'mo_sin_rcnt_tl',
]

nan_zero_cols = [
    'tot_coll_amt',
    'tot_cur_bal',
    'open_acc_6m',
    'open_act_il',
    'open_il_12m',
    'open_il_24m',
    'total_bal_il',
    'open_rv_12m',
    'open_rv_24m',
    'inq_fi',
    'inq_last_12m',
    'num_accts_ever_120_pd',
    'num_actv_bc_tl',
    'num_actv_rev_tl',
    'num_bc_sats',
    'num_bc_tl',
    'num_il_tl',
    'num_op_rev_tl',
    'num_rev_accts',
    'num_rev_tl_bal_gt_0',
    'num_sats',
    'num_tl_120dpd_2m',
    'num_tl_30dpd',
    'num_tl_90g_dpd_24m',
    'num_tl_op_past_12m',
    'mort_acc',
    'percent_bc_gt_75',
    'tot_hi_cred_lim',
    'total_bal_ex_mort',
    'total_bc_limit',
    'total_il_high_credit_limit',
    'bc_open_to_buy',
    'acc_open_past_24mths',
    'total_cu_tl',
    'total_rev_hi_lim',
]

nan_mean_cols = [
    'dti',
    'annual_inc_joint',
    'dti_joint',
    'il_util',
    'all_util',
    'bc_util',
    'pct_tl_nvr_dlq',
    'avg_cur_bal',
    'revol_util',
]

for col in lc_df:
    dt = lc_df[col].dtype
    #FILL MISSING WITH MEAN
    if col in nan_mean_cols:
        lc_df[col] = lc_df[col].fillna(np.nanmean(lc_df[col].values))
    #FILL MISSING WITH ZEROS
    if col in nan_zero_cols:
        lc_df[col] = lc_df[col].fillna(0.0)
    #FILL MISSING WITH MAX
    if col in nan_max_cols:
        lc_df[col] = lc_df[col].fillna(np.nanmax(lc_df[col].values) * 5)

In [21]:
#Change dtype
lc_df.loc[lc_df['emp_length'] == '< 1 year','emp_length'] = '0'
lc_df.loc[lc_df['emp_length'] == '10+ years', 'emp_length'] = '10'
lc_df['emp_length'] = lc_df['emp_length'].str[:1]
lc_df['emp_length'] = lc_df['emp_length'].astype(float)

In [22]:
lc_df.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1344553 entries, 0 to 1344552
Data columns (total 101 columns):
loan_amnt                         int64
funded_amnt                       float64
term                              object
int_rate                          float64
installment                       float64
emp_length                        float64
home_ownership                    object
annual_inc                        float64
verification_status               object
loan_status                       object
purpose                           object
zip_code                          object
addr_state                        object
dti                               float64
delinq_2yrs                       int64
earliest_cr_line                  float64
fico_range_low                    int64
fico_range_high                   int64
inq_last_6mths                    int64
mths_since_last_delinq            float64
mths_since_last_record            float64
open_acc                          int64
pub_rec                           int64
revol_bal                         int64
revol_util                        float64
total_acc                         int64
out_prncp                         float64
out_prncp_inv                     float64
last_fico_range_high              float64
last_fico_range_low               float64
collections_12_mths_ex_med        float64
mths_since_last_major_derog       float64
policy_code                       float64
application_type                  object
annual_inc_joint                  float64
dti_joint                         float64
acc_now_delinq                    float64
tot_coll_amt                      float64
tot_cur_bal                       float64
open_acc_6m                       float64
open_act_il                       float64
open_il_12m                       float64
open_il_24m                       float64
mths_since_rcnt_il                float64
total_bal_il                      float64
il_util                           float64
open_rv_12m                       float64
open_rv_24m                       float64
all_util                          float64
total_rev_hi_lim                  float64
inq_fi                            float64
total_cu_tl                       float64
inq_last_12m                      float64
acc_open_past_24mths              float64
avg_cur_bal                       float64
bc_open_to_buy                    float64
bc_util                           float64
chargeoff_within_12_mths          float64
delinq_amnt                       float64
mo_sin_old_il_acct                float64
mo_sin_old_rev_tl_op              float64
mo_sin_rcnt_rev_tl_op             float64
mo_sin_rcnt_tl                    float64
mort_acc                          float64
mths_since_recent_bc              float64
mths_since_recent_bc_dlq          float64
mths_since_recent_inq             float64
mths_since_recent_revol_delinq    float64
num_accts_ever_120_pd             float64
num_actv_bc_tl                    float64
num_actv_rev_tl                   float64
num_bc_sats                       float64
num_bc_tl                         float64
num_il_tl                         float64
num_op_rev_tl                     float64
num_rev_accts                     float64
num_rev_tl_bal_gt_0               float64
num_sats                          float64
num_tl_120dpd_2m                  float64
num_tl_30dpd                      float64
num_tl_90g_dpd_24m                float64
num_tl_op_past_12m                float64
pct_tl_nvr_dlq                    float64
percent_bc_gt_75                  float64
pub_rec_bankruptcies              float64
tax_liens                         float64
tot_hi_cred_lim                   float64
total_bal_ex_mort                 float64
total_bc_limit                    float64
total_il_high_credit_limit        float64
grade                             object
collection_recovery_fee           float64
total_rec_prncp                   float64
title                             object
total_rec_int                     float64
total_rec_late_fee                float64
sub_grade                         object
debt_settlement_flag              object
emp_title                         object
issue_d                           object
last_pymnt_d                      object
dtypes: float64(77), int64(9), object(15)
memory usage: 1.0+ GB

### Categorical Variable One-Hot Encoding

###### One-Hot Encode "term"

In [23]:
lc_df['term'].value_counts()

 36 months    1021116
 60 months     323437
Name: term, dtype: int64

In [25]:
#term
encoder = OneHotEncoder(drop='first',categories='auto').fit(lc_df[['term']])
encoder.categories_

[array([' 36 months', ' 60 months'], dtype=object)]

In [29]:
ohe_term = pd.DataFrame(encoder.transform(lc_df[['term']]).toarray(),
                   columns=encoder.get_feature_names(["term"]))

ohe_term.head()

   term_ 60 months
0              1.0
1              1.0
2              0.0
3              0.0
4              1.0

###### One-Hot Encode "home_ownership"

In [28]:
lc_df['home_ownership'].value_counts()

MORTGAGE    663777
RENT        536322
OWN         143975
ANY            287
OTHER          144
NONE            48
Name: home_ownership, dtype: int64

In [30]:
encoder = OneHotEncoder(drop='first',categories='auto').fit(lc_df[['home_ownership']])
ohe_home_ownership = pd.DataFrame(encoder.transform(lc_df[['home_ownership']]).toarray(),
                   columns=encoder.get_feature_names(["home_ownership"]))

ohe_home_ownership.head()

,home_ownership_MORTGAGE,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT
0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,1.0

##### One-Hot Encode "purpose"

In [31]:
lc_df['purpose'].value_counts()

debt_consolidation    782673
credit_card           296372
home_improvement       86901
other                  76201
major_purchase         28904
small_business         15479
medical                15215
car                    14422
moving                  9362
vacation                8974
house                   6498
wedding                 2292
renewable_energy         933
educational              327
Name: purpose, dtype: int64

In [33]:
encoder = OneHotEncoder(drop='first',categories='auto').fit(lc_df[['purpose']])
ohe_purpose = pd.DataFrame(encoder.transform(lc_df[['purpose']]).toarray(),
                   columns=encoder.get_feature_names(["purpose"]))

ohe_purpose.head()

,purpose_credit_card,purpose_debt_consolidation,purpose_educational,purpose_home_improvement,purpose_house,purpose_major_purchase,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### One-Hot Encode "zip_code"

In [43]:
lc_df = lc_df[lc_df['zip_code'].notnull()].reset_index(drop=True)

In [44]:
lc_df['zip_code'].value_counts() #945 ZIP CODES

945xx    14884
750xx    14424
112xx    13885
606xx    12563
300xx    12084
331xx    11304
070xx    10773
100xx    10663
900xx    10561
770xx    10550
891xx    10387
330xx     9930
917xx     9574
104xx     9435
117xx     9263
852xx     8565
921xx     8264
926xx     7958
925xx     7928
913xx     7807
334xx     7388
481xx     7161
113xx     6940
853xx     6938
604xx     6881
601xx     6847
956xx     6774
080xx     6660
760xx     6585
021xx     6558
         ...
819xx        1
525xx        1
889xx        1
516xx        1
682xx        1
896xx        1
964xx        1
698xx        1
938xx        1
521xx        1
205xx        1
552xx        1
509xx        1
507xx        1
524xx        1
649xx        1
511xx        1
375xx        1
872xx        1
520xx        1
009xx        1
643xx        1
568xx        1
771xx        1
269xx        1
862xx        1
513xx        1
849xx        1
892xx        1
202xx        1
Name: zip_code, Length: 945, dtype: int64

In [45]:
encoder = OneHotEncoder(drop='first',categories='auto').fit(lc_df[['zip_code']])
ohe_zip_code = pd.DataFrame(encoder.transform(lc_df[['zip_code']]).toarray(),
                   columns=encoder.get_feature_names(["zip_code"]))

ohe_zip_code.head()

,zip_code_008xx,zip_code_009xx,zip_code_010xx,zip_code_011xx,zip_code_012xx,zip_code_013xx,zip_code_014xx,zip_code_015xx,zip_code_016xx,zip_code_017xx,...,zip_code_990xx,zip_code_991xx,zip_code_992xx,zip_code_993xx,zip_code_994xx,zip_code_995xx,zip_code_996xx,zip_code_997xx,zip_code_998xx,zip_code_999xx
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### One-Hot Encode "addr_state"

In [46]:
lc_df['addr_state'].value_counts()

CA    195340
NY    110457
TX    110206
FL     95287
IL     52321
NJ     48692
PA     45667
OH     44154
GA     43437
VA     38061
NC     37579
MI     35254
AZ     32421
MD     31166
MA     30906
CO     29259
WA     28967
MN     24010
IN     21788
MO     21380
TN     20437
CT     19930
NV     19891
WI     17790
AL     16645
OR     16345
SC     15914
LA     15611
KY     12864
OK     12239
KS     11321
AR     10090
UT      9805
NM      7369
HI      6754
MS      6653
NH      6473
RI      5883
WV      4744
MT      3811
DE      3773
NE      3556
DC      3455
AK      3219
WY      2930
SD      2768
VT      2673
ME      2048
ND      1612
ID      1590
IA         7
Name: addr_state, dtype: int64

In [47]:
encoder = OneHotEncoder(drop='first',categories='auto').fit(lc_df[['addr_state']])
ohe_addr_state = pd.DataFrame(encoder.transform(lc_df[['addr_state']]).toarray(),
                   columns=encoder.get_feature_names(["addr_state"]))

ohe_addr_state.head()

,addr_state_AL,addr_state_AR,addr_state_AZ,addr_state_CA,addr_state_CO,addr_state_CT,addr_state_DC,addr_state_DE,addr_state_FL,addr_state_GA,...,addr_state_SD,addr_state_TN,addr_state_TX,addr_state_UT,addr_state_VA,addr_state_VT,addr_state_WA,addr_state_WI,addr_state_WV,addr_state_WY
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### One-Hot Encode "application_type"

In [48]:
lc_df['application_type'].value_counts()

Individual    1323516
Joint App       21036
Name: application_type, dtype: int64

In [49]:
encoder = OneHotEncoder(drop='first',categories='auto').fit(lc_df[['application_type']])
ohe_application_type = pd.DataFrame(encoder.transform(lc_df[['application_type']]).toarray(),
                   columns=encoder.get_feature_names(["application_type"]))

ohe_application_type.head()

   application_type_Joint App
0                         1.0
1                         0.0
2                         0.0
3                         0.0
4                         1.0

##### One-Hot Encode "grade"

In [50]:
lc_df['grade'].value_counts()

B    394171
C    383290
A    233535
D    198516
E     93539
F     32224
G      9277
Name: grade, dtype: int64

In [51]:
encoder = OneHotEncoder(drop='first',categories='auto').fit(lc_df[['grade']])
ohe_grade = pd.DataFrame(encoder.transform(lc_df[['grade']]).toarray(),
                   columns=encoder.get_feature_names(["grade"]))

ohe_grade.head()

   grade_B  grade_C  grade_D  grade_E  grade_F  grade_G
0      0.0      0.0      0.0      0.0      0.0      1.0
1      0.0      1.0      0.0      0.0      0.0      0.0
2      1.0      0.0      0.0      0.0      0.0      0.0
3      0.0      0.0      0.0      0.0      0.0      0.0
4      0.0      1.0      0.0      0.0      0.0      0.0

##### One-Hot Encode "sub_grade"

In [52]:
lc_df['sub_grade'].value_counts()

C1    86200
B4    83317
B5    82934
B3    82581
C2    79594
C3    75114
C4    74595
B2    74063
B1    71276
C5    67787
A5    63652
A4    51385
D1    51114
A1    45078
D2    44379
D3    38926
A3    36977
A2    36443
D4    34952
D5    29145
E1    24026
E2    21554
E3    18352
E4    15577
E5    14030
F1     9890
F2     7262
F3     6157
F4     4931
F5     3984
G1     2967
G2     2190
G3     1643
G4     1326
G5     1151
Name: sub_grade, dtype: int64

In [53]:
encoder = OneHotEncoder(drop='first',categories='auto').fit(lc_df[['sub_grade']])
ohe_sub_grade = pd.DataFrame(encoder.transform(lc_df[['sub_grade']]).toarray(),
                   columns=encoder.get_feature_names(["sub_grade"]))

ohe_sub_grade.head()

,sub_grade_A2,sub_grade_A3,sub_grade_A4,sub_grade_A5,sub_grade_B1,sub_grade_B2,sub_grade_B3,sub_grade_B4,sub_grade_B5,sub_grade_C1,...,sub_grade_F1,sub_grade_F2,sub_grade_F3,sub_grade_F4,sub_grade_F5,sub_grade_G1,sub_grade_G2,sub_grade_G3,sub_grade_G4,sub_grade_G5
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

##### One-Hot Encode "emp_title"

In [54]:
lc_df['emp_title'].value_counts()

Teacher                                     21401
Manager                                     19412
Owner                                       10468
Registered Nurse                             8874
RN                                           8657
Supervisor                                   8319
Driver                                       7470
Sales                                        7465
Project Manager                              6359
Office Manager                               5556
General Manager                              5289
Director                                     5060
owner                                        4712
manager                                      4533
Engineer                                     4311
President                                    4284
teacher                                      4139
driver                                       3539
Vice President                               3537
Operations Manager                           3494
Accountant                                   3304
Attorney                                     3135
Administrative Assistant                     3089
Sales Manager                                3076
Account Manager                              2794
Police Officer                               2695
Nurse                                        2642
Technician                                   2571
sales                                        2568
Analyst                                      2548
                                            ...
Patient accounts rep II                         1
Engineering Project Mgr                         1
Rivercrestisd                                   1
Cary's of Oregon                                1
Combo Ramp Operator/Hub Loader                  1
IT systems network Engineer                     1
Oil Fiel Work                                   1
The Baby Fold                                   1
Pleiger Plastics Co.                            1
University Sr. Budget Analyst                   1
Semi-Senior                                     1
AERT                                            1
Director of Field Programs                      1
Program Analyst Senior                          1
Summits Coordinator                             1
Pinnacle RIdge Apartments                       1
BMT Designers & Planners                        1
Finance Clerk 2                                 1
ISM Services                                    1
Peckar & abramson                               1
Kindergarten Support Teacher                    1
Programmer Senior                               1
Associate Director - Engr Career Center         1
Regigtered Dental Assistant                     1
wagner community memorial hospital              1
Supervisor of School Psychologists              1
MORTGAGE SUPERVISOR                             1
manager- consulting                             1
sears auto center                               1
Pharmaceutical Consultant 1                     1
Name: emp_title, Length: 380198, dtype: int64

In [59]:
lc_df = lc_df[lc_df['emp_title'].notnull()].reset_index(drop=True)

In [70]:
lc_df['emp_title'].groupby('emp_title').nunique()

KeyError: 'emp_title'

In [60]:
encoder = OneHotEncoder(drop='first',categories='auto').fit(lc_df[['emp_title']])
ohe_emp_title = pd.DataFrame(encoder.transform(lc_df[['emp_title']]).toarray(),
                   columns=encoder.get_feature_names(["emp_title"]))

ohe_emp_title.head()

MemoryError:

In [22]:

emp_title

NameError: name 'term' is not defined

## Classification Modeling (Fully Paid = 1, Charged-Off = 0)

#### Logistic Regression v1

## IRR Target Variable Calculation/Extrapolation

In [ ]:
#calculating NAR
lc_df[['total_rec_int','total_rec_late_fee','installment','collection_recovery_fee','out_prncp','loan_status']].head(5)

In [ ]:
lc_df['last_pymnt_d'].head()

In [ ]:
lc_df['last_payment_date'] = lc_df['last_pymnt_d'].str[:3]+'/'+'1'+'/'+lc_df['last_pymnt_d'].str[4:]
lc_df['issue_date'] = lc_df['issue_d'].str[:3]+'/'+'1'+'/'+lc_df['issue_d'].str[4:]

In [ ]:
lc_df['last_payment_date'] = lc_df['last_payment_date'].astype(str)
lc_df['issue_date'] = lc_df['issue_date'].astype(str)

In [ ]:
lc_df = lc_df[lc_df['last_payment_date'] != 'nan'].reset_index()

In [ ]:
lc_df['last_payment_date'][1319]

In [ ]:
from datetime import datetime

lc_df['last_payment_date_dt'] = lc_df['last_payment_date'].map(lambda x: datetime.strptime(x,'%b/%d/%Y'))
lc_df['issue_date_dt'] = lc_df['issue_date'].map(lambda x: datetime.strptime(x,'%b/%d/%Y'))

In [ ]:
lc_df['issue_date_dt'].tail()

In [ ]:
lc_df['days_btwn_funding_lastpayment'] = (lc_df['last_payment_date_dt'].dt.date -
                                          lc_df['issue_date_dt'].dt.date).dt.days

In [ ]:
#raw_lc_df['y_stanford'] = (raw_lc_df['total_pymnt']/raw_lc_df['funded_amnt'])-1

In [ ]:
lc_df[['addr_state','annual_inc','collection_recovery_fee','emp_title',
           'fico_range_high','fico_range_low','funded_amnt','grade','home_ownership',
           'int_rate','loan_amnt','loan_status','purpose','sub_grade','title','total_rec_int',
           'total_rec_late_fee','total_rec_prncp','zip_code','debt_settlement_flag','out_prncp',
           'collection_recovery_fee','days_btwn_funding_lastpayment','y_stanford']][lc_df['loan_status'] == 1].tail(5)

In [ ]:

# for i in range(50): 
#     if raw_lc_df.loc[i,'loan_status'] != 'Charged Off':
#         raw_lc_df.loc[i,'NAR_test'] = ((1+((((raw_lc_df['total_rec_int'][i] #(interest received
#                                     +raw_lc_df['total_rec_late_fee'][i] # + late fees received
#                                     -(0.01*raw_lc_df['installment'][i]) # - service fee paid
#                                     +((raw_lc_df['collection_recovery_fee'][i]/.4)*.6) # + collection fees received
#                                     - 0) # - 0 or out.principal
#                                  /(raw_lc_df['out_prncp'][i])) #ALL THE ABOVE divided by out.principal
#                                     *raw_lc_df['out_prncp'][i]) #FRACTION ABOVE times out.principal
#                                  / (raw_lc_df['out_prncp'][i])))**12)-1 #TERM ABOVE divided by out.principal, 
#                                                                     #& EVERYTHING to the power of 12 & ALL OF THAT minus 1
#     else: 
#         raw_lc_df.loc[i,'NAR_test'] = ((1+((((raw_lc_df['total_rec_int'][i] #(interest received
#                                     +raw_lc_df['total_rec_late_fee'][i] # + late fees received
#                                     -(0.01*raw_lc_df['installment'][i]) # - service fee paid
#                                     +((raw_lc_df['collection_recovery_fee'][i]/.4)*.6) # + collection fees received
#                                     - raw_lc_df['out_prncp'][i]) # - 0 or out.principal
#                                  /(raw_lc_df['out_prncp'][i])) #ALL THE ABOVE divided by out.principal
#                                     *raw_lc_df['out_prncp'][i]) #FRACTION ABOVE times out.principal
#                                  / (raw_lc_df['out_prncp'][i])))**12)-1 #TERM ABOVE divided by out.principal, 
#                                                                     #& EVERYTHING to the power of 12 & ALL OF THAT minus 1
#     print('row completed')

In [ ]:
lc_df.head(10)

In [ ]:
lc_df['loan_status'].value_counts()